.corpo{
    background-color: lemonchiffon;
}
.titulo{
    front-size: 50px;color: lightpink;background-color: lemonchiffon;text-align: center;
}
.texto-imc{
    font-size: 50px;
    text-align: center;
}